[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rechtsinfo-api = {editable = true, path = "."}
pytest-cov = "*"
pytest = "*"

[packages]
lxml = "*"
pydantic = "*"
pyhumps = "*"
invoke = "*"
sqlalchemy = "*"
psycopg2 = "*"
tqdm = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
